body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./carousel1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

.upload-section {
    margin-bottom: 20px;
}

.dropzone {
    border: 2px dashed #888;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone:hover {
    background-color: #f0f0f0;
    border-color: #666;
}

.input-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#descriptionInput {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addImageButton {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addImageButton:hover {
    background-color: #45a049;
}

.file-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-item p {
    flex: 1;
    margin: 0;
    color: #333;
    font-size: 14px;
}

.file-item button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.file-item button:hover {
    background-color: #ff3333;
}
